
<h1 class="text-center"> <%= @restaurant.name %></h1>
<div class="table-responsive">
<table class="table">
  <tr>
    <th>Name</th>
    <th>Location</th>
  </tr>


 
  <tr>
  <td><%= link_to "#{@restaurant.name}", restaurant_path %></td>
   
    
  </tr>
 
</table>
</div>