
<%@items = @items.uniq%>
<%# binding.pry %>
<% @items.each do |item|%>
<table>
<tr>
  <td><%= link_to "#{item.name}", item_path(item)%>    |</td>
    <td>  <%= item.restaurant.name %> |</td>
    <td>  <%= item.price %> </td>
    <td> <%= Geocoder::Calculations.distance_between([current_user.latitude, current_user.longitude], [item.restaurant.latitude, item.restaurant.longitude]).round %> miles away</td>
     <!-- some duplicate items are listed in our database-->
  </tr>
</table>
<% end %>


