
<%@items = @items.uniq%>
<%# binding.pry %>
<table class="table">
<thead>
<tr>
	<th>Food Item</th>
	<th>Restaurant</th>
	<th>Price</th>
	<th>Overall Rating</th>
	<th>Distance</th>
</tr>
</thead>
<tbody>
<% @items.each do |item|%>
	<tr>
  		<td><%= link_to "#{item.name}", item_path(item)%></td>
    	<td>  <%= link_to "#{item.restaurant.name}", restaurant_path(item.restaurant.id) %></td>
   		<td>  $<%= item.price %></td>
    	  	  <% average = [] %>
      	      <% item.reviews.each do |review| %>
      	      <% average << review.rating %>
      	      <% end %>
      	      <% if average.length > 0 %>
 		      <% average_array = average.compact %>
 	          <% display_average = average_array.inject{ |sum, el| sum + el }.to_f / average_array.length %>
 	    <td>  <%= display_average.round(1)%> / 5 </td>
 	    	  <% else %>
 	    <td>Rating not available</td>
 	<% end %> 
<% end %>
  </tr>

     <!-- some duplicate items are listed in our database-->
  </tbody>
</table>


	