 @import "bootstrap-sprockets";
 @import "bootstrap";

 @import "restaurants";

 .welcome {
  position: relative;
  height: 40rem;

}

.home_search {
  position: absolute;
  top: 65%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color: #595959;
}

h1 {
  color: white;
}

body {
  background-image: url("Wood5.jpg");
  /*background-repeat: no-repeat;*/
  background-size: 100% 100%;
  color: #595959;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 150%;
}

html {
  height: 100%;
  color: white;

}

.navbar {
  background-color:#DFBE99;
  color:black;
  height:93px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 150%;
}

.navbar-default .navbar-nav > .active > a {
  background-color:#DFBE99;
}
.navbar-default .navbar-nav > .hover > a {
  background-color:#DFBE99;
}
.container-fluid {
  color:#595959;
}

.btn.btn-basic.btn-lg {
  background-color:#B5BD89;
  color:black;
}

.navbar-brand {
  margin: 0;
  padding: 0;
}

.navbar-brand img{
  max-height: 180%;
}

.navbar-form {
  padding-top: 20px;
}

.navbar-right{
  padding-top: 18px;
}

.nav.navbar-nav {
  padding-top: 18px;
}

.sign_in.container {

}

.white-background {
  background-color: white;
  text-align: center;
  border: 5px white;
  border-radius: 25px;
  padding-top: 5px;

}
.col-centered{
    float: none;
    margin: 0 auto;
}
.logo {
  position: absolute;
  top: 11%;
  left:37%;
  max-height: 200px;
  display: inline-block;
  vertical-align: middle;
}

.row-fluid {
  max-height: 20px;
}

.img-responsive {
  max-height: 360px;
  display: block;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
}
 .form-group {
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  border:1px transparent;
  border-radius:25px;
}
/*.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #DFBE99;
  color:black;
}*/